@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>


<h3>Error Page</h3>
<hr />
<p>
    <strong>Hata Sayfası : @Model.Path </strong>
</p>
<p>
    <strong> Mesaj : @Model.Message</strong>
</p>
